<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="author" content="text/html">
    <title>dhyroepo</title>
    <link rel="icon" href="../static/favicon.ico" type="image/x-icon">
</head>

<style>
    body {
        top: 0;
        left: 0;
        width: 99%;
        height: 80%;
        position: absolute; display: table
    }

    p {
      display: table-cell;
        vertical-align: middle;
        text-align: center
    }
</style>

<script type="text/javascript">
    // declare time zone formatting
    let options = {
        timeZone: 'Asia/Manila',
        hour: 'numeric',
        minute: 'numeric',
        second: 'numeric',
    },
    formatter = new Intl.DateTimeFormat([], options);

    // set time
    setInterval(
        () => {
            document.querySelector("#time").innerText = formatter.format(new Date());
        }
    , 1000)
</script>

<p>
<font size="7"><i><b>CHRISTIAN AIVAN</b></i></font><br>
<br>
<img src="../static/san-mateo-rizal-c19c72dd-2eea-44c7-874e-d6d7d1cda0d-resize-750-501130986.jpg" style="width: 560px;"><br>
<br>
<a href="https://24timezones.com/Manila/time">TIME IN MANILA, PHILIPPINES</a> - <span id="time">0:00PM</span>
<a href="https://24timezones.com/time-zone/pst_philippine">PhST</a>
<br>
<a href="about.html">about</a>&nbsp;//&nbsp;<a href="faq.html">faq</a>&nbsp;//&nbsp;<a href="gear.html">gear</a>
    &nbsp;//&nbsp;<a href="https://drive.google.com/drive/folders/1zYdrXp1OYEShctCP97NYSZGGTmhXc-Nj?dmr=1&ec=wgc-drive-globalnav-goto">resume</a>&nbsp;//&nbsp;<a href="contact.html">contact</a>
</p>


</html>
